<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <h1 style="background-color: rgb(52, 35, 128);">SOAL PERSAMAAN LINEAR SATU VARIABEL</h1>
    </center>
    <p>Agar lebih memahami materi Persamaan Linear Satu Variabel silahkan perhatikan soal dibawah ini</p>
    <p>1. Persamaan dari 3x - 2 = 4 adalah ?</p>
    <p>Penyelesaian:</p>
    <p>3x - 2 = 4</p>
    <p>3x = 4 + 2</p>
    <p>3x = 6</p>
    <p>x = 6/3 = 2</p>

    <p>2. Berapa nilai variabel dari 3(x-1) + x = -x + 7 ?</p>
    <p>Penyelesaian:</p>
    <p>3(x-1) + x = -x + 7</p>
    <p>3x - 3 + x = -x + 7</p>
    <p>4x - 3 = -x + 7</p>
    <p>4x + x = 7 + 3</p>
    <p>5x = 10</p>
    <p>x = 10/5</p>
    <p>x = 2</p>
</body>
</html>